@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Martel:wght@200;300;400;600;700;800;900&display=swap');

    /* color/font pallet
        
        header/footer background: #9BC1BC;
        header/footer text: #172623;
        emphasis background: #AAD4EA;
        emphasis text: #032D4E;
        body text:#4F4044

        heading-font: Martel, Garmond, serif;
        paragraph-font: Hind Siliguri, Helvetica, sans-serif;

        nav-link-color: #172623;
        nav-background-color: #9BC1BC;
        nav-hover-link-color: white;
        nav-hover-background-color: #172623;
     */

     :root{

        --border: #172623;
        --heading: #172623;
        --required: #9BC1BC;
    
    }

body{
    font-family: Martel, Garmond, serif;
    display:grid;
    min-width: 400px;
    font-size: 1.25rem;  
    text-align: center;
}

header {
    display: block;
    text-align: left;
    color: #172623;
    background-color: #9BC1BC;
}

.hero img{
    width: 100%;
    height: auto;
}

h1{
    display: block;
    font-size: 1.5rem;
    justify-content: left;
    margin: 1rem 1rem;
}

nav{
    margin: 0 auto;
    width: 100%;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0px solid #172623;
    padding: 3px 7px 6px;
    background-color: #9BC1BC;
    color: #172623;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #9BC1BC;
    margin: 0;
    padding: 0;
    color: #172623;
}

.navigation li {
    display: none;
}

.navigation li a {
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #172623;
}

.navigation li a:hover {
    background-color: #172623;
    color: white;
}

.open li {
    display: block;
    width: 100%;
}

.open li a {
    display: block;
}

.active::before{
    content: '►';
}

/* small main */
main {
    display:block;
}

h2{
    font-size: 1.5rem;
    text-align: center;
}
 
h3{
    font-size: 1.5rem;
    padding: 1rem;
} 

.weather{
    background-color: #AAD4EA;
    color: #032D4E;
}

h4{
    font-size: 1.5rem;
}

p{
    font-family: 'Hind Siliguri', Helvetica, sans-serif;
}

hr {
    display: block;
    width: 50%;
    border-top: 1px solid #4F4044;
}

.sidebar{
    /* display: sticky; */
    margin: 20px;
    /* padding: 15px; */
    /* top: 0; */
}

.shadow img{
    margin: 10px;
    width: 98%;
    height: auto;
}

footer {
    display: block;
    background-color: #172623;
    color: #9BC1BC;
}
.contact{
    background-color: #9BC1BC;
    color: #172623;
}

footer p{
    padding: 1rem;
    align-content: center;
    margin: 0;
}

#mode {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

li{
    padding: 10px;
}

.noBullets{
    padding: 0;
    text-align: center;
    text-decoration: none;
    list-style-type: none;
}

.joinBtn{
    border: none;
    background-color: var(--required);
    color: var(--heading);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    width: 96%;
    max-width: 20rem;
} */

/* ----------directory---------- */
.directory{
    grid-template-columns: 1fr;
}

/* ----------Form---------- */
form{
    grid-column: 2/3;
    grid-row: 2/3;
    width: auto;
}

form fieldset{
    margin: 2rem 0;
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: .5rem 2%;
    min-width: 350px;
}

form legend{
    color:var(--heading);
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: var(--heading);
    font-size: 1rem;
}

form textarea{
    display: block;
    padding-top: 1rem;
    color: var(--heading);
    font-size: 1rem;
}

form textarea{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form input.submitButton{
    border: none;
    background-color: var(--required);
    color: var(--heading);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 2rem 0;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required:valid{
    border-left: #006A4E solid 6px;
}

.join {
    grid-template-columns: 1fr 1fr;
    padding: 0 2%;
    min-height: 20rem;
    text-align: left;
    /* width: 100%; */
}

.joinSidebar{
    margin: 20px;
}

.join h2{
    grid-column: 1/3;
    grid-row: 1/2;
}

.joinBtn h2{
    grid-column: 1/3;
    grid-row: 1/2;
}

.join h3{
    font-size: 1.5rem;
    padding: 0;
}

.joinBtn h3{
    font-size: 1.5rem;
    padding: 0;
}

.join h4{
    font-size: 1.25rem;
}

.joinBtn h4{
    font-size: 1.25rem;
}

.join li{
    font-size: 1rem;
    padding: .5rem;
    text-align: left;
}

.joinBtn li{
    font-size: 1rem;
    padding: .5rem;
    text-align: left;
}

/* ----------Directory ---------- */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.directory section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgba(155, 193, 188, .4);
    border: 1px solid #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.directory img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 30px #777;
    height: 200px;
    border: 1px solid #333;
}

.directory a{
    word-break: break-all;
    overflow-wrap: break-word;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: block;
	grid-template-columns: 2fr 1fr 1fr;
	margin: 0;
	padding: 1rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none; /* smaller viewports only */
}

.list section h3 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: white;
}

/*---------banner----------  */

.banner{
    margin:0;
    background-color: #AAD4EA;
    display: flex;
    align-items: center;
}

.bannerContent{
    padding: 16px;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
}

.bannerText{
    flex-grow: 1;
    line-height:1.4;
}

.bannerClose{
    background-color: #AAD4EA;
    border:none;
    cursor: pointer;
}